body {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 0.95em;
    /*font-family: Tahoma,serif;*/
}

h1, h2, h3, h4, h5 {
    color: #242424;
    clear: left;
    font: 100% Tahoma, Helvetica, Arial, sans-serif;
    margin-bottom: 0.5em;
    border-radius: 10px;
    padding: 5px;
}

h1 {
    font-size: 180%;
    background-color: #b2c0ff;
    padding: 15px;
}

h2 {
    background-color: #9ed8ff;
    font-size: 160%;
    padding: 8px;
}

h3 {
    background-color: #e6ccff;
    font-size: 130%;
    padding: 7px;
}

h4 {
    background-color: rgba(185, 236, 185, 0.95);
    font-size: 110%;
    padding: 5px;
}

h5 {
    background-color: #d5ffb0;
    font-size: 100%;
}

p {
    font-family: Tahoma,serif;
    margin-left: 10px;
}

ol, ul, li {
    margin: 0;
    margin-left: 10px;
    padding: 0;
    padding-bottom: 5px;
    font-size: 106%;
}

a, a:visited, a:active, a:link, a:hover {
    text-decoration: underline;
    color: #545454;
    background-color: transparent;
    font-family: Tahoma,serif;
}

a:hover {
    background-color: #cccccc;
    font-size: 102%;
}

pre {
    font-family: "Consolas", co,serif;
    font-size: 13px;
    background-color: #f5f5f5;
    border: 2px solid silver;
    padding: 1px;
}

code {
    font-size: 102%;
}


/* ---- CUSTOM TAGS ----*/
tt {
    font-family: "Arial",serif;
    /*color: #00c5a2;*/
    /*Container*/
    display: block;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(134, 211, 222, 0.45);
    border: solid rgba(0, 119, 255, 0.47) 1px;
}

r {
    font-style: italic;
    /*font-weight: bold;*/
    color: blue;
}

r2 {
    /*font-style: italic;*/
    /*font-weight: bold;*/
    color: blue;
}

c {
    font-style: italic;
    color: #757575;
}

n {
    box-sizing: border-box;
    display: block;
    background-color: rgba(142, 226, 255, 0.35);
    border-radius: 10px;
    padding: 5px;
    font-size: 106%;
}

q {
    color: darkred;
    font-weight: bold;
}




/* ---- ----*/

hr {
    clear: both;
    height: 1px;
    color: #242424;
    background-color: transparent;
}

#i {
    color: #ff1010;
}



em {
    font-family: "Arial",serif;
    /*font-size: 80%;*/
    font-weight: bold;
    border-style: solid;
    border-color: #abe876;
    color: #1632cc;
}

bc {
    font-family: "Arial",serif;
    /*font-size: 90%;*/
    font-weight: bold;
    color: #990000;
    background-color: #fcf8c7;
}

ks {
    font-family: "Arial",serif;
    font-weight: bold;
    color: #0000CD;
    /*font-size: 90%;*/
}

kc {
    font-family: "Arial",serif;
    font-weight: bold;
    color: #008000;
    /*font-size: 90%;*/
}



m {
    font-family: "Helvetica",serif;
    line-height: 100%;
    /*font-size: 75%;*/
}



k {
    color: #990000;
    font-weight: bold;
    /*font-size: 90%;*/
    display: block;
}



div.req {
    background-color: #d9ffb3;
    /*font-size: 18px;*/
    width: 700px;
    border: 3px solid green;
    padding: 15px;
    margin: 10px;
}

div.remark {
    background-color: #E3F2FD;
    border: 2px solid #d5f2ed;
    padding: 15px;
    margin: 10px;
    border-radius: 25px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}



table, th, td {
    border: 1px solid black;
}

img {
    border: 3px solid #d5f2ed;
    background-color: white;
    padding: 5px;
    width: 60%;
    margin: 12px auto;
    display: block;
}

a, a:visited, a:active, a:link, a:hover {
    text-decoration: underline;
    color: #545454;
    background-color: transparent;
}

div.wrapdesc {
    width: 90%;
    margin: auto;
}

div.imagedesc {
    width: 85%;
    margin: auto;
}

def {
    display: block;
    margin: 1px 10px;
}

dt {
    font-style: italic;
    /*font-size: 20pt;*/
    margin: 10px 0;
}

.remark.remark2, .remark2 {
    background-color: #c3fbe8;
}

.note {
    background-color: lightgray;
    border: 2px solid darkgray;
    padding: 15px;
    margin: 10px;
    border-radius: 25px;
}

div.in {
    margin-left: 10px;
    /*margin-right: 10px;*/
}

