nav ul {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    height: fit-content;
}
nav li {
    float: left;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
}

nav ul:after {
    clear: both;
    content: "";
    display: block;
}

@media screen and (max-width: 600px) {
    nav li {
        float: none;
    }
}